[submodule "deps/faststyle"]
	path = deps/faststyle
	url = https://github.com/ghwatson/faststyle.git
	ignore = untracked
[submodule "deps/tensorflow_models"]
	path = deps/tensorflow_models
	url = https://github.com/tensorflow/models.git
	ignore = untracked
[submodule "deps/cocoapi"]
	path = deps/cocoapi
	url = https://github.com/cocodataset/cocoapi.git
	ignore = untracked
[submodule "deps/fast-neural-style-tensorflow"]
	path = deps/fast-neural-style-tensorflow
	url = https://github.com/hzy46/fast-neural-style-tensorflow.git
	ignore = untracked
