bs4
cchardet
img2pdf
lxml
matplotlib
natsort
numpy
pillow
spacy
opencv-python
# tensorflow-gpu>=1.5.0
cython
https://api.github.com/repos/thtrieu/darkflow/tarball
https://api.github.com/repos/mwilliammyers/tensornets/tarball
